body, html {
    height: 100%;
    margin: 0%;
        margin-top: 0%;
        margin-left: 0%;
        margin-bottom: 0%;
        margin-right: 0%;
    padding: 0%;
        padding-left: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
        padding-right: 0%;
}

html, body {
    min-width: 400px;
}

body, input, button {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #bdc1c6;
}

body {
    background: #2f2f2f;
}

#top {
    background: #2f2f2f;
    height: 100%;
    width: 100%;
}

#middle {
    background: #f2f2f2;
    height: 15%;
    width: 100%;
}

#bottom {
    background: #21293d;
    color: #f2f2f2;
    text-align: right;
    font-size: large;
    display: block;
}


.navbar {
    overflow: hidden;
    background-color: #fb6e1e;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    font-size: 19px;
    font-family: arial, sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 19px 20px;
    text-decoration: none;
}

.navbar a.logo {
    background: #ff5e00;
    font-size: 19px;
    font-weight: bold;
    font-family: arial, sans-serif;
    color: #171717;
}

.navbar a:hover {
    background: #ff5e00;
    font-size: 19px;
    font-family: arial, sans-serif;
    color: #171717;
}

.descrierePseudo {
    max-width: 100%;
    max-height: 35%;
   
    font-family: arial, sans-serif;
    color: #d8d8d8;
}
.motto {
    font-size: 550%;
    text-align: center;
    direction: ltr;
    padding: 10% 5%;
}

.openBtn  {
    background: none;
    position: absolute;

    height: 12%;
    width: 270px;
    
    top: 65%;
    right: 20%;
    
    text-transform: uppercase;
    font-weight: 500;
    font-size: 38px;
    letter-spacing: 3.8px;
    color: #d8d8d8;

    border: 3px #fb6e1e solid;
    border-radius: 6px;
        
    z-index: 1;
    cursor: pointer;
    
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    }
    
.openBtn:hover {
    color: #2f2f2f;
}
    
.openBtn:before {
    content: "";
    position: absolute;
    background: #fb6e1e;
        
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    
    transition: top 0.09s ease-in;
}
        
.openBtn:hover:before {
    top: 0;
}
    
    
.downloadBtn  {
    background: none;
    position: absolute;

    height: 12%;
    width: 270px;
    
    top: 65%;
    left: 20%;

    text-transform: uppercase;
    font-weight: 500;
    font-size: 38px;
    letter-spacing: 4.7px;
    color: #d8d8d8;

    border: 3px #fb6e1e solid;
    border-radius: 6px;
    
    z-index: 1;
    cursor: pointer;

    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.downloadBtn:hover {
    color: #2f2f2f;
}

.downloadBtn:before {
    content: "";
    position: absolute;
    background: #fb6e1e;
    
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;

    transition: top 0.09s ease-in;
}
    
.downloadBtn:hover:before {
    top: 0;
}


#middle {
    width: 100%;
    text-align: center;
    color: #2f2f2f;
    font-weight: bold;
}

#left {
    float: left;
    width: 33,33%;
    text-align: center;
    padding-left: 5%;
}

#center {
    display: inline-block;
    margin: 0 auto;
    width: 33,33%;
    text-align: center;
}

#right {
    float: right;
    width: 33,33%;
    text-align: center;
    padding-right: 5%;
}

#middle a:link {
    text-decoration: none;
    background-color: #f4511e;
    border: 7.5px solid #f4511e;
    border-radius: 5.5px;
    color: #000000;
}

#bottom a:link {
    text-decoration: underline;
    background-color: #0d1117;
    border-radius: 5.5px;
    color: #d8d8d8;
}